
<!-- Header part -->
<%- include("header") -%>


  <!-- About page top section -->
  <section class="row top-section">
    <div class="col-lg-6 content-top">
      <h1>ABOUT US</h1>
      <p>We are a community of doctors and engineers. What we do is to provide a bridge between the doctors and Patients. </p>
      <h1>OUR MISSION</h1>
      <p>We started with the primary goal of providing best in class healthcare facilities at your fingertips.
      Our team works tirelessely to provide you a seamless experience and healthcare facilities at your home. We aim to build a better society, a healthy society and of-course - a happy one</p>

    </div>
    <div class="col-lg-6">
      <img class = "img-about-us"src="/photos/about-us.jpg" alt="">
    </div>
  </section>



  <!-- About page 2nd section profile cards -->

  <section class="profile-cards">
    <h2 class="about-us-title">OUR TEAM</h2>
    <div class="container-fluid bottom-section">
      <div class="row">

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/1a.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/1b.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Nishant Rai</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Information Technology.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100010935516710"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Nishant24406983"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/__misdenominate_____love/?hl=en"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/Su2.jpeg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/Su.jpeg" alt="profile-image" class="profile" />
              <h5 class="card-title">Shubham Dixit</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Computer Science Engineering.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/shubham.dixit.73550/"><i class="fa fa-facebook"></i></a>
                <a href="about-us.html"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/shubhamdixit760"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/3a.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/3c.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Shashank Pandey</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Computer Science Engineering.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100026412185832"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Shashan73400119"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/shashank088/?hl=en"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>



<!-- Footer part -->
<%- include("footer") -%>
