<!-- Header part -->
<%- include("header") -%>



  <!-- About page top section -->
  <section class="row top-section">
    <div class="col-lg-6 content-top">
      <h1>ABOUT US</h1>
      <p>We are a community of doctors and engineers. What we do is to provide a bridge between the doctors and Patients. </p>
      <h1>OUR MISSION</h1>
      <p>We started with the primary goal of providing best in class healthcare facilities at your fingertips.
      Our team works tirelessely to provide you a seamless experience and healthcare facilities at your home. We aim to build a better society, a healthy society and of-course - a happy one</p>

    </div>
    <div class="col-lg-6">
      <img class = "img-about-us"src="/photos/about-us.jpg" alt="">
    </div>
  </section>



  <!-- About page 2nd section profile cards -->

  <section class="profile-cards">
    <h2 class="about-us-title">OUR TEAM</h2>
    <div class="container-fluid bottom-section">
      <div class="row">

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/1a.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/1b.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Nishant Rai</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Information Technology.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100010935516710"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Nishant24406983"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/__misdenominate_____love/?hl=en"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/Su2.jpeg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/Su.jpeg" alt="profile-image" class="profile" />
              <h5 class="card-title">Shubham Dixit</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Computer Science Engineering.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/shubham.dixit.73550/"><i class="fa fa-facebook"></i></a>
                <a href="about-us.html"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/shubhamdixit760"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">

          <div class="card profile-card bg-shadow">
            <div class="card-img-block">
              <img class="img-fluid" src="photos/3a.jpg" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
              <img src="photos/3c.jpg" alt="profile-image" class="profile" />
              <h5 class="card-title">Shashank Pandey</h5>
              <p class="card-text">Persuing BTech from MNNIT Allahabad in Computer Science Engineering.</p>
              <div class="icon-block">
                <a href="https://www.facebook.com/profile.php?id=100026412185832"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Shashan73400119"> <i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/shashank088/?hl=en"> <i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>


  <!-- Footer part -->
  <footer class="footer">
    <div class="container-fluid">
      <a class="quick-links" href="about-us">About us</a>
      <a class="quick-links" href="contact-us">Contact us</a> <br>
      <a class="footer-link" href="index.html"><i class="social-icon icon fab fa-facebook-f"></i></a>
      <a class="footer-link" href="index.html"><i class="social-icon icon fab fa-twitter"></i></a>
      <a class="footer-link" href="index.html"><i class="social-icon icon fab fa-instagram"></i></a>
      <p>© Copyright 2021 docOnWeb</p>

    </div>
  </footer>


  <!-- Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>
