
<!-- Header part -->
<%- include("header2") -%>



  <!-- middle wrapper start -->

  <div class="card rounded box">

    <div class="card-body">
        <div class="bookapp sub-title">
            <label for="">Enter Time:</label>
            <input type="time" required>
            <br>
            <br>

            <label for="">Enter Date:</label>
            <input type="date" required>
            <br>
            <br>
            <label for="">Mode:</label>
            <br>
            <input type="radio" name="selectone"> Online <br>
            <input type="radio" name="selectone"> Offline
            <br>
            <br>

            <label for="">Upload Documents:</label>
            <input type="file" id="myFile" name="filename" required>
            <br>
            <br>
            <label for="">Tell Your Symptoms:</label>
            <textarea name="" id="" cols="30" rows="3" required></textarea>
         
        </div>
        <div class="space sub-title">
            <button class="btn btn-primary">Submit </button>
        </div>

    </div>

  </div>


      <!-- middle wrapper end -->






<!-- Footer part -->
<%- include("footer") -%>
