
<!-- Header part -->
<%- include("header") -%>





  <!-- Section: Contact v.1 -->
  <section class="row mid-section">


    <div class="col-lg-6 mid-left">
      <h1 class="">CONTACT US</h1>
      <h6 class=""> Motilal Nehru National Institute of Technology, Allahabad</h6>
        <h1 class="">How May We Help You?</h1>
        <form action="Contact-us.html" method="post">
          <div class="form-group">
            <label for="userName">User Name</label>
            <input class="form-control form-control-lg" type="text" name="userName" placeholder="Enter your Username" required>
          </div>
          <div class="form-group">
            <label for="email">Email Id</label>
            <input class="form-control form-control-lg" type="text" name="email" placeholder="Enter your Email Id" required>
          </div>
          <div class="form-group">
            <label for="disc">Message</label>
            <textarea class="form-control form-control-lg" type="text" name="disc" placeholder="Enter your Query" required></textarea>
          </div>
          <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Submit</button>
        </form>
    </div>

    <div class="col-lg-6 mid-right">
      <img class="contact-us-img" src="photos/contact-us.jpg" alt="">
    </div>


  </section>

  <!-- Footer part -->
  <footer class="footer">
    <div class="container-fluid">
      <a class="quick-links" href="about-us">About us</a>
      <a class="quick-links" href="contact-us">Contact us</a> <br>
      <a class="footer-link" href="contact-us.ejs"><i class="social-icon icon fab fa-facebook-f"></i></a>
      <a class="footer-link" href="contact-us.ejs"><i class="social-icon icon fab fa-twitter"></i></a>
      <a class="footer-link" href="contact-us.ejs"><i class="social-icon icon fab fa-instagram"></i></a>
      <p>© Copyright 2021 docOnWeb</p>

    </div>
  </footer>


  <!-- Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>
