


<!-- Header part -->
<%- include("header2") -%>




  <!-- middle wrapper start -->


  <div class="card p-4">
    <div class="d-flex" style="margin: 20px 10%;"> 
        <button class="btn btn-secondary"> 
            <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
        </button> 
        
        
        <div style="margin-left: 20px;"> 
            <h2 class="sub-title">Name: Dr. Shashank Pandey <br>
            </h2>
            <span>Email: abc@gmail.com <br>
                Specialization: idk <br>
                Qualification: abc <br></span>
        </div>
        <div style="margin-top: 5%;"> 
            <button class="btn-light">Edit Profile</button> 
        </div>
      </div>
</div>




<div class="container">
<div class="box" id="heading">
<h1>Appointments</h1>
</div>
</div>
  
<div class="card rounded box">

    <div class="card-body">
        <div>
            <p>Patient Name: Nishant Rai <br>
                Appointment No. 202196268 <br>
                Date: dd/mm/yyyy<br>
                Time: 18:00 <br>
                <button class="btn btn-link">View More</button>
            </p>
        </div>
        <div>
            <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        </div>
      
        
    </div>
    
</div>



      <!-- middle wrapper end -->





<!-- Footer part -->
<%- include("footer") -%>
