<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>docOnWeb</title>

  <!-- website icon -->
  <link rel="icon" href="favicon.ico">

  <!-- Bootstrap style sheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- CSS stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/home.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/b2fd0da17e.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-md sticky-top navbar-dark color" style="display: ">
    <a href="/"><img src="favicon2.png" alt="" height="40px" width="40px"></a>
    <a class="navbar-brand title" href="/">&nbsp; docOnWeb</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse sub-title" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="edit-profile-company.html">Edit Profile</a>
            <a class="dropdown-item " href="">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
      <div>
        <button class="btn btn-primary space">Neurologist</button>
        <button class="btn btn-primary space">Cardiologist</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
      </div>
      <div>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
      </div>

      <div>
        <form class="" action="/findDocBySearch" method="post">
          <input type="text" name="search-content" placeholder="Type Here to Search">
          <button type="submit" name="button" class="btn btn-primary space">Search</button>
        </form>
      </div>

  </div>


<link rel="stylesheet" href="home.css">

<div class="container">
    <div class="profile-page tx-13">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="profile-header">
                    <div class="cover">
                        <div class="cover-body d-flex justify-content-between align-items-center">
                            <div>
                                <h1>Search Results</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row profile-body">
            <!-- middle wrapper start -->
            <div class="col-md-12 middle-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <p class="mb-3 tx-14">Name: ABC <br>
                                                      Qualification: DEF <br>
                                                      Experience: GHI </p>
                                <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="profilePic">
                            </div>
                            <div class="card-body">
                                <button class="btn btn-primary sub-title">Book Appointment </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

            <!-- middle wrapper end -->



  <footer class="footer">
    <!-- Footer part -->
    <div class="container-fluid">
      <a class="quick-links" href="/about-us">About us</a>
      <a class="quick-links" href="/contact-us">Contact us</a> <br>
      <a class="footer-link" href="https://www.facebook.com/CareerDeck-102878701598227/"><i class="social-icon icon fab fa-facebook-f"></i></a>
      <a class="footer-link" href="https://twitter.com/DeckCareer"><i class="social-icon icon fab fa-twitter"></i></a>
      <a class="footer-link" href="https://www.instagram.com/career.deck/?hl=en"><i class="social-icon icon fab fa-instagram"></i></a>
      <p class="copyright">© Copyright 2020 careerDeck</p>

    </div>
  </footer>

  <!-- Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>
