
<!-- Header part -->
<%- include("header2") -%>



   <!-- middle wrapper start -->

  <div class="container">
      <div>
        <button class="btn btn-primary space">Neurologist</button>
        <button class="btn btn-primary space">Cardiologist</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
      </div>
      <div>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
        <button class="btn btn-primary space">VOID</button>
      </div>

      <div>
        <form class="" action="/findDocBySearch" method="post">
          <input type="text" name="search-content" placeholder="Type Here to Search">
          <button type="submit" name="button" class="btn btn-primary space">Search</button>
        </form>
      </div>

  </div>



  <div class="container">
    <div class="box" id="heading">
      <h1>Search Results</h1>
    </div>
  </div>
        
        <div class="row profile-body">
           
            
            <div class="col-md-12 middle-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded box" style="margin: 30px auto;">

                            <div class="card-body">
                                <p class="mb-3 tx-14">Name: Nishant Rai <br>
                                                      Qualification: MBBS <br>
                                                      Experience: 6 years </p>
                                <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                            </div>
                            <div class="card-body">
                                <button class="btn btn-primary sub-title">Book Appointment </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>


            <!-- middle wrapper end -->



<!-- Footer part -->
<%- include("footer") -%>
