
<footer class="footer">
  <div class="container-fluid">
    <a class="quick-links" href="about-us">About us</a>
    <a class="quick-links" href="contact-us">Contact us</a> <br>
    <a class="footer-link" href="/"><i class="social-icon icon fab fa-facebook-f"></i></a>
    <a class="footer-link" href="/"><i class="social-icon icon fab fa-twitter"></i></a>
    <a class="footer-link" href="/"><i class="social-icon icon fab fa-instagram"></i></a>
    <p class="copyright">© Copyright 2021 docOnWeb</p>

  </div>
</footer>

<!-- Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>
