<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>docOnWeb</title>

  <!-- website icon -->
  <link rel="icon" href="photos/favicon1.ico">

  <!-- Bootstrap style sheet-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- CSS stylesheet -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/signup.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/b2fd0da17e.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Nav Bar -->

  <nav class="navbar navbar-expand-md sticky-top navbar-dark color">
    <a href="index.html"><img src="photos/Favicon2.png" alt="" height="40px" width="40px"></a>
    <a class="navbar-brand title" href="/">&nbsp; docONWeb</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse sub-title" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Find
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="">Doctors Near You</a>
            <a class="dropdown-item " href="">Hospitals Near You</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
