
<!-- Header part -->
<%- include("header") -%>


<!-- Main Page Intro Prt -->
  <section id="first">
    <div class="title-intro ">
      <h2 class="first-page-main-title">docOnWeb</h2>
      <h3 class="first-page-main-content" >We are Doctors on Web <br>
        We here at docOnWeb give you personalised advice and best in class online facilities.
         Join us Today</h3>
    </div>
  </section>

<!-- Footer part -->
<%- include("footer") -%>
