

<!-- Header part -->
<%- include("header") -%>


  <!-- Login -->
  <div class="login-signup">
    <div class="container">
      <div class="row">
        <div class="col-md-5 m-auto">
          <img src="photos/favicon2.png" alt="icon" height="80px" width="80px">
          <h1 class="display-5 text-center login-page-title">Login to docOnWeb</h1>
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Email Address" name="username" required />
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" required />
            </div>
            <div>
              <!-- <label><input type="checkbox" value="Remember Me"> Remember Me</label> -->
            </div>
            <button class="btn btn-lg btn-primary my-3 mx-3" type="submit" name="accountType" value="1">Log in as Doctor</button>
            <button class="btn btn-lg btn-primary my-3 mx-3" type="submit" name="accountType" value="0">Log in as Patient</button>


            <br>
            <!-- <h5>Don't have an account yet? <a href="signup"> Create Account</a></h5> -->
            <hr>
            <div class="form-group">
              <a href="/auth/google" class="btn btn-lg btn-social btn-google btn-block fab fa-google-plus-g google-button"> | Login With Google</a>
            </div>
            <div class="form-group">
              <a href="" class="btn btn-lg btn-social btn-google btn-block fab fa-facebook-f facebook-button"> | Login With Facebook</a> 
          </form>
        </div>
      </div>
    </div>
  </div>










  <!-- Footer part -->
  <footer class="footer for-login-signup">
    <div class="container-fluid">
      <a class="quick-links" href="about-us">About us</a>
      <a class="quick-links" href="contact-us">Contact us</a> <br>
      <a class="footer-link" href="https://www.facebook.com/CareerDeck-102878701598227/"><i class="social-icon icon fab fa-facebook-f"></i></a>
      <a class="footer-link" href="https://twitter.com/DeckCareer"><i class="social-icon icon fab fa-twitter"></i></a>
      <a class="footer-link" href="https://www.instagram.com/career.deck/?hl=en"><i class="social-icon icon fab fa-instagram"></i></a>
      <p>© Copyright 2021 docOnWeb</p>

    </div>
  </footer>


  <!-- Bootstrap Scripts-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>
