

<!-- Header part -->
<%- include("header2") -%>




  <!-- middle wrapper start -->


<div class="card rounded box">

    <div class="card-body">
        <div class="bookapp sub-title">
            <p>Doctor Name: Nishant Rai <br> <br>
               Time Slot: 18:30 <br> <br>
               Date: dd/mm/yyyy<br> <br>
               Mode: Online <br> <br>
               Symptoms: xyz <br> <br>
               Documents Uploaded: kiye hai kuchh <br> <br>
            </p>

            
        </div>
       
    </div>
    
</div>



      <!-- middle wrapper end -->





<!-- Footer part -->
<%- include("footer") -%>
