

<!-- Header part -->
<%- include("header2") -%>




  <!-- middle wrapper start -->


<div class="card rounded box">

    <div class="card-body">
        <div class="bookapp sub-title">
            <p>Patient Name: Nishant Rai <br> <br>
               Patient Time Slot: 18:30 <br> <br>
               Date: dd/mm/yyyy<br> <br>
               Mode: Online <br> <br>
               Symptoms: xyz <br> <br>
               Documents Uploaded: kiye hai kuchh <br> <br>
               <label for="">Write Notes:</label>
               <input type="text" required>
            </p>

            <button class="btn btn-success">View Notes</button>
            
        </div>
       
      
        
    </div>
    
</div>



      <!-- middle wrapper end -->





<!-- Footer part -->
<%- include("footer") -%>
