<%- include("header2") -%>

<div class="card rounded box">
    <div class="card-body light-bg-color">
        <div class="bookapp sub-title">
            <p>
              Success.
            </p>
            <a href="/dashboardDoc"><button class="btn btn-success my-3"  name="button">Go to Dashboard</button></a>


        </div>
    </div>
</div>


<%- include("footer") -%>
